body {
	color: #73C936;
	background-color: #181818;
	font-family: Georgia, serif;
	text-align: center;
	margin: 10px 10px 10px 10px;  /*top right bottom left*/
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #73C936;
}

img {
	border-radius: 10%;
	box-shadow: 10px 10px 5px black;
}

h0 {
	text-align: center;
	font-size:4rem;
	text-shadow: 2px 2px 2px #000000;
}

chap {
	color: #C93673;
	box-shadow: 10px 10px 5px black;
	width: 50%;
	border-radius: 30%;
	padding: 10px;
	background: rgba(51,51,51,0.6);
}

footer {
	box-shadow: 10px 10px 5px black;
	border-radius: 30%;
	background: rgba(51,51,51,0.6);
	padding: 30px;
}

footer img {
	box-shadow: none;
	display: inline;
	border-radius: 5px;
	width: 80px;
	margin: 0 auto 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
