body {
	color: #f0ede6;
	background-color: #181818;
	font-family: Georgia, serif;
	text-align: justify;
	margin: 10px 10px 10px 10px;  /*top right bottom left*/
}

footer {
	padding: 10px 20% 10px 20%;
	box-shadow: 10px 10px 5px black;
	border-radius: 20%;
	background: rgba(51,51,51,0.6);
}

h1 {
	text-align: center;
}

h0 {
	font-size: 4rem;
	text-shadow: 2px 2px 2px #000000;
}

code {
	color: #0B0811;
	background-color: #67CE8B;
	font-family: Source Code Pro,"courier new";
	font-size: 102%;
}

table, th, td {
	border: 1px solid black;
	width: 75%;
}
