body {
	color: #f0ede6;
	background-color: #181818;
	font-family: Georgia, serif;
	text-align: center;
	margin: 10px 10px 10px 10px;  /*top right bottom left*/
}

footer {
	padding: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px black;
	border-radius: 20%;
	background: rgba(51,51,51,0.6);
}


h0 {
	font-size: 4rem;
	text-shadow: 2px 2px 2px #000000;
}

ul {
	display: table;
	margin: 0 auto;
}
